input[type="submit"] {
    margin-top: 20px;
}

p {
    font-weight: bold;
}

button#addSeriesButton{
    display: inline-block;
    margin-left: 50px;
}

select#series-picker{
    width: 200px;
}

input#series-sub-season{
    width: 300px;
}

input#series-sub-episode{
    width: 300px;
}

label{
    display: block;
}

h#seriesPopupLabel{
    font-weight: bold;
}

label#commentlabel {
    margin-top: 10px;
}

textarea#comment {
    margin: 0px 1562px 0px 0px;
    width: 327px;
    height: 217px;
}